.App {
  text-align: center;
}

body {
  font-family: 'Georgia, serif';
}

h1 {
  text-align: center;
  font-size: 50px;
}

table {
  margin: 0 auto;
  border-spacing: 0px 0px;
}

.btn {
  outline: none;
  padding: 10px 20px;
  margin: 4px;
  background: #0089ce;
  border: 1px solid #dedede;
  color: #fff;
  transition: all .2s;
}

.btn:hover {
  background: #084c7f;
}

.btn-container {
  text-align: right;
}

.cell {
  height: 70px;
  width: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: 1px white solid;
  outline-offset: 1px;
}

tbody {
  background-image: linear-gradient(#3ca3ff, #005eb3);
}

.circle {
  height: 15px;
  width: 15px;
  border: 1px solid #000;
  border-radius: 100px;
}

.circles {
  margin: -40px 0 25px 0;
  display: flex;
  justify-content: center;
}

.red-sm {
  background-color: red;
}

.yellow-sm {
  background-color: yellow;
}

.message {
  text-align: center;
  font-size: 17px;
}

.White {
  height: 60px;
  width: 60px;
  background-color: #FFF;
  border-radius: 100px;
}

.Red {
  height: 60px;
  width: 60px;
  background-color: red;
  border-radius: 100px;
  transition: background-color 0.5s;
}

.Yellow {
  height: 60px;
  width: 60px;
  background-color: yellow;
  border-radius: 100px;
  transition: background-color 0.5s;
}